/* Block and Inline elements direct styling */

main {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    line-height: 1.2;

}

table, td, th {
    border: 3px solid grey;
    font-size: 20px;
}

caption {
    font-size: 30px;
}

footer {
    margin-top: 50px;
}

/* ID Identifiers */

#form_header {
    font-size: 30px;
}

#cover_letter_title {
    margin-bottom: 35px;
}

#form_container {
    background-color:blueviolet;
    padding: 20px;
}

/* Class Identifiers */

.header_info {
    line-height: 1.5;
    font-style: italic;

}

















/* commented_material_example */