/* Block and Inline elements direct styling */

nav {
  background-color: #0D1321;
  padding: 10px 20px;
  margin-bottom: 10px;
  display: flex;
  gap: 30px;
  justify-content: center; 
}


body {
        background-color: #1D2D44;
        font-family: 'Courier New', Courier, monospace;
        color: white;
}

a {
    color:#F0EBD8
}

table {
    color: white;
    margin-bottom: 50px;
}

td {
    border: 3px solid grey;
    font-size: 20px;
    padding: 5px;
}

th {
    border: 3px solid grey;
    font-size: 23px;
    padding: 5px;
}

caption {
    font-size: 30px;
}

footer {
    margin-top: 50px;
}

select {
    margin: 10 0 50 0;
}

/* ID Identifiers */

#form_header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-style: italic;
}

#cover_letter_title {
    margin-bottom: 35px;
}

#form_container {

    background-color:#0D1321;
    padding: 10 20 40 20;
    margin: 30;
}

#selection_title {
    padding: 5 0 0 0;
}



/* Class Identifiers */


.header_info {
    line-height: 1.5;
    font-style: italic;
}

.table_headers {
    font-style: italic;

}

.form_wrapper {
    background-color:#3E5C76;
    padding-top: 5;
    padding: 5 20 10 20;
}

.resume_intro {
    text-align: center;
    margin-top: 30;
}

.resume_section {
    margin: 50px 0;
}

.resume_job_timeline {
    padding: 5;
    background-color: #3E5C76;
    font-size: 14px;
}

.resume_reference {
    padding: 5;
    margin: 10px 0;
    background-color: #3E5C76;
    font-size: 14px;
}














/* commented_material_example */